@import url('./reset.css');
@import url('./1-timer.css');
@import url('./2-snackbar.css');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.list {
  padding: 50px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  justify-content: center;
}
.item {
  background-color: #747bff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}
.link {
  text-align: center;
  display: block;
  padding: 12px 16px;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.link:hover {
  background-color: #5a62d5;
}

.secret-text {
  font-size: 6px;
  text-decoration: underline;
  color: #018d08;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
